@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,300;1,200&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.App{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
h2{
    font-family: 'Lato', sans-serif;
    color: rgb(48, 47, 79);
    
}

.h22{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(236, 230, 230);
    padding-top: 10px;
}  